{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<style>
    .form-check-input{
        padding: 100px !important;
        background-color: black;
    }
    .errorlist{
        color: red;
    }
</style>
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <h3>User Registration</h3>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.phone_number.label_tag }}
                        {{ form.phone_number }}
                        {{ form.phone_number.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                   
                    <div class="form-group">
                        {{ form.roles.label_tag }}
                        {{ form.roles }}
                        {{ form.roles.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.maker.label_tag }}
                        {{ form.maker }}
                        {{ form.maker.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.checker.label_tag }}
                        {{ form.checker }}
                        {{ form.checker.errors }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}